.panelinv
{
    font-family:Tahoma;
    font-size:11pt;
    color:#222222;
    background-color:#fff;
    
    width: 600px;
}    

/* header styles */
.panelinv .header
{
    color:#fff;        
}
.panelinv .header .outer
{
    background:url(../img2/top-right.gif) right no-repeat;
    padding-right:6px;
}
.panelinv .header .inner
{
    background:url(../img2/top-left.gif) left no-repeat;
    padding-left:6px;
}
.panelinv .header .contentTable
{
    height:38px;
    background:url(../img2/top-mid.gif) repeat-x;
}

/* panel body styles */
.panelinv .body
{
}
.panelinv .body .outer
{
    background:url(../img2/right.gif) right repeat-y;
    padding-right:6px;
}
.panelinv .body .inner
{
    background:url(../img2/left.gif) left repeat-y;
    padding-left:6px;
}

/* panel footer styles */
.panelinv .footer .outer
{
    background:url(../img2/bottom-right.gif) right top no-repeat;
    padding-right:6px;
}
.panelinv .footer .inner
{
    background:url(../img2/bottom-left.gif) left top no-repeat;
    padding-left:6px;
}
.panelinv .footer .contentTable
{
    height:6px;
    background:url(../img2/bottom-mid.gif) repeat-x;        
}   

.panelinv .header .contentTable H2
{
	font-size: 12px;	
	font-weight:bold;
	color:#fff;   
	padding:12px 0px 0px 8px;
	margin:0;
	float:left;
} 
 

.tag_table 
{
    float:right;
    font-weight:bold;
    font-size: 9px;
     color: #fff; 
    padding:10px 2px 0px 0px;
} 
