
/*	  
.body
{
	position:relative;
	top: 0;
}
 */ 

.MainMenu
{

   z-index: 1;

}


.Content1
{
/*  */ position: absolute;	  
	top: 60px;
	z-index: -1;
}

.MasterPosition

{	

	width: 1000px;
   position : relative;
  /* margin-left:  auto;	
 	margin-right: auto;	    
 	*/
}